* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url(https://i.postimg.cc/Hxg6dnBF/AP-red-moon-spain-kab-140812-33x16-992.jpg) no-repeat;
    background-size: cover;
    max-width: 100vw;
}

.first-line {
    background-color: rgb(197, 224, 244);
    height: 32px;
    border: 0px solid transparent;
}

.second_line {
    background-color: transparent;
    height: 32px;
    border: 0px solid transparent;
}

.first-line-heading {
    display: flex;
    font-family: arial, narrow;
    font-size: 13px;
    margin-top: 7px;
    margin-left: 8px;
    background-color: transparent;
    border: transparent;
    color: rgb(79, 78, 78);
}

.second-line-heading {
    font-family: arial, narrow;
    font-size: 13px;
    margin-top: 7px;
    margin-right: 8px;
    background-color: transparent;
    border: transparent;
    color: white;
    padding: 5px;
    padding-top: 4px;
}
.second-line-heading:hover {
    text-decoration: underline;
    cursor: pointer;
}

.second-line-heading-ava {
    margin-top: 7px;
    margin-right: 8px;
    background-color: transparent;
    padding: 10px;
    border: transparent;
    border-radius: 100%;
    color: white;
    width: 50px;
    height: 50px;
}
.second-line-heading-ava:hover{
    background-color: rgba(211, 211, 211, 0.125);
    cursor: pointer;
}
.second-line-heading-dot {
    margin-top: 7px;
    background-color: transparent;
    padding: 10px;
    padding-top: 15px;
    width: 50px;
    height: 50px;
    border: transparent;
    border-radius: 50%;
    color: white;
}
.second-line-heading-dot:hover{
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.144);
}

.dots {
    /* padding-left: 2px; */
    font-size: 20px;
    color: white;
}

.second-line-heading-ava img {
    /* weight: 30px; */
    height: 30px;
    border-radius: 100%;
    border: transparent;
}

.list {
    display: flex;
}

.list li {
    margin-right: 20px;
}

.list2 {
    display: flex;
    float: right;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 127px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 38px;

}

.search {
    width: 75vh;
    height: 44px;
    border-radius: 50px;
    border: transparent;
    /* text-align: center; */
    padding-left: 30px;
    font-size: 15px;
    color: rgb(94, 94, 94);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* margin: 5px; */
    /* margin-left: 40px; */
    border-radius: 100%;
    height: 50px;
    width: 50px;
    font-size: 30px;
    
}

.app {
    /* display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px; */
    padding: 10px;
    color: white;
    height: 4rem;
    margin: 1rem;
}
.but{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.but:hover{
    background-color: rgba(211, 211, 211, 0.199);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.size{
    border: transparent;
    font-size: 30px;
    display: flex;
    padding-top: 7px;
    background-color: transparent;
}
h4{
    font-size: 13px;
    position:fixed ;
    float:right;
    margin-top: 100px;
    font-family: arial, narrow;
}
.foot{
    position: fixed;
    left: 27px;
    bottom: 26px;
    color: whitesmoke;
    text-decoration: underline;
}
.feet{
    position: fixed;
    right: 20px;
    bottom: 26px;
    color: whitesmoke;
}

