* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url(https://i.postimg.cc/Hxg6dnBF/AP-red-moon-spain-kab-140812-33x16-992.jpg) no-repeat;
    background-size: cover;
    max-width: 100vw;
}

.first-line {
    background-color: rgb(195, 227, 252);
    height: 32px;
    border: 0px solid transparent;
}

.second_line {
    background-color: transparent;
    height: 32px;
    border: 0px solid transparent;
}

.first-line-heading {
    display: flex;
    font-family: arial, narrow;
    font-size: 13px;
    margin-top: 7px;
    margin-left: 8px;
    background-color: transparent;
    border: transparent;
    color: rgb(79, 78, 78);
}

.second-line-heading {
    font-family: arial, narrow;
    font-size: 13px;
    margin-top: 7px;
    margin-right: 8px;
    background-color: transparent;
    border: transparent;
    color: white;
    padding: 5px;
}

.second-line-heading:hover {
    text-decoration: underline;
    cursor: pointer;
}

.second-line-heading-ava {
    margin-top: 7px;
    margin-right: 8px;
    background-color: transparent;
    padding: 10px;
    border: transparent;
    border-radius: 100%;
    color: white;
}

.second-line-heading-ava img {
    height: 30px;
    border-radius: 100%;
    border: transparent;
}

.dots {
    /* padding-left: 2px; */
    font-size: 20px;
    color: white;
}

.second-line-heading-dots {
    /* padding-left: 2px; */
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: transparent;
    margin: 10px;
    margin-top: 20px;
}

.list {
    display: flex;
}

.list li {
    margin-right: 20px;
}

.list2 {
    display: flex;
    float: right;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 110px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 38px;

}

.search {
    width: 90vh;
    height: 44.8px;
    border-radius: 50px;
    border: transparent;
    /* text-align: center; */
    padding-left: 30px;
    font-size: 15px;
    color: rgb(94, 94, 94);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
}

.logo {
    background-color: white;
    margin: 5px;
    border-radius: 100%;
    height: 100px;
}

.app1.app2.app3.app4.app5 {
    height: 100px;
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
}